<!-- PAGE LAYOUT STARTS HERE -->
<!--================================= Navigation Start =============================================-->

<nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top" id="top-nav">
    <div class="container">
        <div class="logo-image">
            <a href="#"><img src="assets/img/200x50.png" alt="images"></a>
        </div>
        <div class="navbar-right nav">
            <div class="nav-header">
                <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav nav-con">
                    <li class="menu  res-top-pad10 res2-top-pad10">
                        <a class="nav-link nav-text" href="#home">HOME</a>
                    </li>
                    <li class="menu">
                        <a class="nav-link nav-text" href="#service">SERVICE</a>
                    </li>

                    <li class="menu">
                        <a class="nav-link nav-text" href="#schedule">SCHEDULE</a>
                    </li>
                    <li class="menu">
                        <a class="nav-link nav-text" href="#camps">CAMPS</a>
                    </li>
                    <li class="menu">
                        <a class="nav-link nav-text " href="#contact">CONTACT</a>
                    </li>
                    <li class="menu">
                        <a class="nav-link nav-text" routerLink="login-admin">ADMIN LOGIN PANEL</a>
                    </li>
                    <li class="menu">
                        <a class="nav-link nav-text" routerLink="login-user">USER LOGIN PANEL</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--================================= Navigation End =============================================-->
<!--================================= Header Start =============================================-->
<header class=" header-bg-image bgimage-property section-padding" id="home">
    <div class="container ">
        <div class="col-sm-12 col-lg-10 text-center no-pad-res">
            <div class="container-fluid">
                <div class="row rowsafari">
                    <div class="col-sm-12 col-md-5 col-lg-5 header-sub-img bgimage-property sub-img-bor">
                    </div>
                    <div class="col-sm-12 col-lg-7 col-md-7 box-1-head">
                        <h1>BLOOD DONATION CAMP </h1>
                        <p class="marg-top20 res2-marg-top30 head-sub-con">HELD ON DEC 13,2019</p>
                        <img src="assets/img/80x80x1.png" alt="images" class="rounded-circle marg-top15">
                        <div class="head-inner-box marg-top20">
                            <p class="pad-bot10"><span class="head-font">Date : </span><span class="txt-whte lt-space">DEC 13, 2019</span></p>
                            <p class="pad-bot10"><span class="head-font">Time : </span><span class="txt-whte lt-space">Starts @ 5PM</span></p>
                            <p><span class="head-font">Venue : </span><span class="txt-whte lt-space">No AB-267,<br> Park Avenue 76 Second Street,<br> New York - 26781</span></p>
                        </div>
                        <div class="pad-top30">
                            <a href="#" class="txt-theme-color">READ MORE<i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--================================= Header End =============================================-->
<!--================================= 3-column Start =============================================-->
<section>
    <div class="section-padding section-2-bg bgimage-property" id="service">
        <div class="container">
            <div class=" text-center">
                <h2 class="pad-bot10">OUR CAMPS INVOLVES</h2>
                <img src="assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
            </div>
            <div class="row rowsafari">
                <div class="col-sm-12 col-md-4 col-lg-4 res2-bot-pad res2-center">
                    <div>
                        <img src="assets/img/750x500x2.jpg" alt="images" class="img-radius img-fluid">
                    </div>
                    <div>
                        <h4 class="pad-top20">BLOOD DONATION</h4>
                        <p class="pad-top15 res2-top-pad10 res-top-pad10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, purus ut auctor tincidunt, dolor sem pharetra lorem, eget aliquam lectus dui a odio.
                            <p>
                                <div class="pad-top10 res2-bot-pad30">
                                    <a href="#" class="txt-theme-color">READ MORE<i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                                </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 res2-bot-pad res2-center">
                    <div>
                        <img src="assets/img/750x500x3.jpg" alt="images" class="img-radius img-fluid">
                    </div>
                    <div>
                        <h4 class="pad-top20">MEDICINE COLLECTIONS</h4>
                        <p class="pad-top15 res2-top-pad10 res-top-pad10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, purus ut auctor tincidunt, dolor sem pharetra lorem, eget aliquam lectus dui a odio.
                            <p>
                                <div class="pad-top10 res2-bot-pad30">
                                    <a href="#" class="txt-theme-color">READ MORE<i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                                </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 res2-center">
                    <div>
                        <img src="assets/img/750x500x4.jpg" alt="images" class="img-radius img-fluid">
                    </div>
                    <div>
                        <h4 class="pad-top20">BLOOD TEST</h4>
                        <p class="pad-top15 res2-top-pad10 res-top-pad10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, purus ut auctor tincidunt, dolor sem pharetra lorem, eget aliquam lectus dui a odio.
                            <p>
                                <div class="pad-top10">
                                    <a href="#" class="txt-theme-color">READ MORE<i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= 3-column End =============================================-->

<!--================================= Schedule Start =============================================-->
<section>
    <div class="section-padding section-1-bg bgimage-property" id="schedule">
        <div class="container">
            <div class="text-center">
                <h2 class="pad-bot10">CAMP SCHEDULES</h2>
                <img src="assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
            </div>
            <div class="row rowsafari">
                <div class="col-md-5 col-lg-5 marg-top20 no-res-marg no-marg-res20">
                    <div class="scdle-bor text-center width-res">
                        <h4>DAY 1 SCHEDULE</h4>
                        <p class="pad-top10"><i class="lt-space">March 26, 2019 </i></p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-1-center cen-img-pad img-res-pad res2-bot-pad20">
                    <img src="images/40x150.png" alt="icon">
                </div>
                <div class="col-md-5 col-lg-5 res2-cen">
                    <h4 class="res2-top-pad20">WELCOME SPEECH OF CHIEF GUEST</h4>
                    <p class=" pad-top15 res2-top-pad10">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.
                </div>
            </div>
            <div class="row rowsafari marg-top30">
                <div class="col-md-5 col-lg-5 marg-top20 no-res-marg no-marg-res20">
                    <div class="scdle-bor text-center width-res">
                        <h4>DAY 1 SCHEDULE</h4>
                        <p class="pad-top10"><i class="lt-space">MARCH 26, 2019 </i></p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-1-center cen-img-pad img-res-pad res2-bot-pad20">
                    <img src="assets/img/40x150.png" alt="icon">
                </div>
                <div class="col-md-5 col-lg-5 res2-cen">
                    <h4 class="res2-top-pad20">START OF BLOOD DONATION</h4>
                    <p class=" pad-top15 res2-top-pad10">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.
                </div>
            </div>
            <div class="row rowsafari marg-top30">
                <div class="col-md-5 col-lg-5 marg-top20 no-res-marg no-marg-res20">
                    <div class="scdle-bor text-center width-res">
                        <h4>DAY 1 SCHEDULE</h4>
                        <p class="pad-top10"><i class="lt-space">MARCH 26, 2020 </i></p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-1-center cen-img-pad img-res-pad res2-bot-pad20">
                    <img src="assets/img/40x150.png" alt="icon">
                </div>
                <div class="col-md-5 col-lg-5 res2-cen">
                    <h4 class="res2-top-pad20">FUND COLLECTIONS FOR POOR</h4>
                    <p class=" pad-top15 res2-top-pad10">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.
                </div>
            </div>
            <div class="pad-top30 text-center">
                <a href="#" class="btn-1">OPEN FULL SCHEDULE<i class="fa fa-arrow-circle-right btn-icon" 	aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</section>
<!--================================= Schedule End =============================================-->
<!--================================= Chief-Guest Start =============================================-->
<section>
    <div class="section-padding section-2-bg bgimage-property">
        <div class="container">
            <div class="text-center">
                <h2 class="pad-bot10">OUR CHIEF GUEST</h2>
                <img src="assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
            </div>
            <div class="row rowsafari">
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div class="space-1-wid">
                        <img src="assets/img/750x450x1.jpg" alt="750x450" class="img-fluid img-radius">
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-7">
                    <div class="space-wid">
                        <p class="guest-font res2-top-pad20"><a href="#">MERLYN JOY</a> </p>
                        <p class="marg-top5 desination-font">DEVELOPER</p>
                        <p class="marg-top10">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.</p>
                        <p class="marg-top10">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================================= Chief-Guest End =============================================-->
<!--================================= Cta Start =============================================-->
<section>
    <div class="cta-bg-img bgimage-property">
        <div class="container res2-cen">
            <div class="row rowsafari">
                <div class="col-sm-12 col-md-7 col-lg-6 res2-center">
                    <h2 class="txt-whte-sub icon-right marg-top5 marg-no-res">DONATE NOW ?</h2>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-6 res2-center">
                    <div class="res2-marg-top20">
                        <a href="#" class="btn-1">READ MORE<i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= Cta End =============================================-->
<!--================================= Volunteers Start =============================================-->
<section>
    <div class="section-padding section-2-bg bgimage-property">
        <div class="container">
            <div class="text-center">
                <h2 class="pad-bot10">OUR VOLUNTEERS </h2>
                <img src="assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
            </div>
            <div class="row rowsafari">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="vol-bg-color width-res">
                        <div class="text-center">
                            <img src="assets/img/150x150x1.png" alt="icon" class="rounded-circle">

                            <h4 class="marg-top10 txt-whte word-br res4-marg15">JOHN PETER</h4>
                            <p class="word-br marg-top5 desination-font-white">GRAPHIC DESIGNER</p>
                        </div>
                    </div>
                    <div class="vol-bor width-res">
                        <div>
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-phone-square vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br">+012-345-6789
                                    <p>
                            </div>
                        </div>
                        <div class="marg-top10">
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-envelope vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br"><a href="#">email@domain.com</a>
                                    <p>
                            </div>
                        </div>
                        <div class="marg-top10">
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-comments vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br"><a href="#">www.volunteers.com</a>
                                    <p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 res2-marg-top30">
                    <div class="vol-bg-color width-res">
                        <div class="text-center">
                            <img src="assets/img/150x150x2.png" alt="icon" class="rounded-circle">

                            <h4 class="marg-top10 txt-whte word-br res4-marg15">ANGELINA</h4>
                            <p class="word-br marg-top5 desination-font-white">GRAPHIC DESIGNER</p>
                        </div>
                    </div>
                    <div class="vol-bor width-res">
                        <div>
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-phone-square vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br">+012-345-6789
                                    <p>
                            </div>
                        </div>
                        <div class="marg-top10">
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-envelope vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br"><a href="#">email@domain.com</a>
                                    <p>
                            </div>
                        </div>
                        <div class="marg-top10">
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-comments vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br"><a href="#">www.volunteers.com</a>
                                    <p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 res2-marg-top30">
                    <div class="vol-bg-color width-res">
                        <div class="text-center">
                            <img src="assets/img/150x150x3.png" alt="icon" class="rounded-circle">

                            <h4 class="marg-top10 txt-whte word-br res4-marg15">MARK DAVID</h4>
                            <p class="word-br marg-top5 desination-font-white">GRAPHIC DESIGNER</p>
                        </div>
                    </div>
                    <div class="vol-bor width-res">
                        <div>
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-phone-square vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br">+012-345-6789
                                    <p>
                            </div>
                        </div>
                        <div class="marg-top10">
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-envelope vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br"><a href="#">email@domain.com</a>
                                    <p>
                            </div>
                        </div>
                        <div class="marg-top10">
                            <div class="dis-tab-cell">
                                <a><i class="fa fa-comments vol-icon-font" aria-hidden="true"></i></a>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br"><a href="#">www.volunteers.com</a>
                                    <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--================================= Volunteers End =============================================-->
<!--================================= Certificate Start =============================================-->
<section>
    <div class="section-padding section-1-bg bgimage-property">
        <div class="container">
            <div class="row rowsafari">
                <div class="col-sm-12 col-md-7 col-lg-7 order-lg-1 order-2">
                    <div class="space-1-wid res2-top-pad20">
                        <h3><a href="#">GET CERTIFIED</a> </h3>
                        <p class="marg-top15 res2-top-marg10">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.</p>
                        <p class="marg-top10">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.</p>
                        <div class="pad-top10">
                            <a href="#" class="txt-theme-color">READ MORE<i class="fa fa-arrow-circle-right btn-icon" 	aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 order-lg-2 order-1">
                    <div class="space-wid">
                        <img src="assets/img/750x450x2.jpg" alt="750x450" class="img-fluid img-radius">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= Certificate End =============================================-->
<!--================================= Camps Start =============================================-->
<section>
    <div class="section-padding section-2-bg bgimage-property" id="camps">
        <div class="container">
            <div class="text-center">
                <h2 class="pad-bot10">UPCOMING CAMPS </h2>
                <img src="assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
            </div>
            <div class="row rowsafari">

                <div class="col-sm-12 col-md-6 col-lg-6  res2-bot-pad30">
                    <div class="camp-bor space-1-wid width-res">
                        <div>
                            <div class="dis-tab-cell">
                                <img src="assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                            </div>
                            <div class="dis-tab-cell-middle">
                                <h4 class="lt-space">BLOOD DONATION CAMPS</h4>
                            </div>
                        </div>
                        <div class="marg-top15 res2-top-marg10 camp-left-con">
                            <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">Dec 13, 2019</span></p>
                            <p class="pad-bot10"><span class="camp-font camp-width">Time</span><span class="colon">:</span><span class="lt-space lttr-pad">Starts @ 5PM </span></p>

                            <p><span class="camp-font dis-tab-cell camp-width">Venue</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> No AB-267,<br> Park Avenue 76 Second Street,<br>New York - 26781</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 ">
                    <div class="camp-bor space-wid width-res">
                        <div>
                            <div class="dis-tab-cell">
                                <img src="assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                            </div>
                            <div class="dis-tab-cell-middle">
                                <h4 class="lt-space">BLOOD DONATION CAMPS</h4>
                            </div>
                        </div>
                        <div class="marg-top15 camp-left-con res2-top-marg10">
                            <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">Oct 13, 2019</span></p>
                            <p class="pad-bot10"><span class="camp-font camp-width">Time</span><span class="colon">:</span><span class="lt-space lttr-pad">Starts @ 5PM</span></p>

                            <p><span class="camp-font dis-tab-cell camp-width">Venue</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> No AB-267,<br> Park Avenue 76 Second Street,<br>New York - 26781</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rowsafari marg-top30">

                <div class="col-sm-12 col-md-6 col-lg-6  res2-bot-pad30">
                    <div class="space-1-wid camp-bor width-res">
                        <div>
                            <div class="dis-tab-cell">
                                <img src="assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                            </div>
                            <div class="dis-tab-cell-middle">
                                <h4 class="lt-space">BLOOD DONATION CAMPS</h4>
                            </div>
                        </div>
                        <div class="marg-top15 camp-left-con res2-top-marg10">
                            <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">Sep 13, 2019</span></p>
                            <p class="pad-bot10"><span class="camp-font camp-width">Time</span><span class="colon">:</span><span class="lt-space lttr-pad">Starts @ 5PM</span></p>

                            <p><span class="camp-font dis-tab-cell camp-width">Venue</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> No AB-267,<br> Park Avenue 76 Second Street,<br>New York - 26781</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="space-wid camp-bor width-res res2-top-marg10">
                        <div>
                            <div class="dis-tab-cell">
                                <img src="assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                            </div>
                            <div class="dis-tab-cell-middle">
                                <h4 class="lt-space">BLOOD DONATION CAMPS</h4>
                            </div>
                        </div>
                        <div class="marg-top15 camp-left-con">
                            <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">Nov 13, 2019</span></p>
                            <p class="pad-bot10"><span class="camp-font camp-width">Time</span><span class="colon">:</span><span class="lt-space lttr-pad">Starts @ 5PM</span></p>

                            <p><span class="camp-font dis-tab-cell camp-width">Venue</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> No AB-267,<br> Park Avenue 76 Second Street,<br>New York - 26781</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================================= Camps End =============================================-->
<!--================================= Cta-2 Start =============================================-->
<section>
    <div class="cta-bg-2 bgimage-property">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-8 text-center no-pad-res">
                <div class="cta-bor">
                    <h2 class="txt-whte-sub">WANT TO BE A VOLUNTEER? </h2>
                    <a href="#" class="btn-1 marg-top30">READ MORE<i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================================= Cta-2 End =============================================-->
<!--================================= Sponser Start =============================================-->
<section>
    <div class="section-padding section-2-bg bgimage-property">
        <div class="container">
            <div class=" text-center">
                <h2 class="pad-bot10">OUR PATNERS</h2>
                <img src="assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
            </div>
            <div class="row rowsafari res3-cen">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 count-res no-pad-res">
                    <div class="res2-bot-pad30">
                        <img src="assets/img/350x250x1.png" alt="images" class="img-fluid img-radius  ">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 count-res no-pad-res">
                    <div class="res2-bot-pad30">
                        <img src="assets/img/350x250x2.png" alt="images" class="img-fluid img-radius  ">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 count-res res3-bot res4-pad-bot30 no-pad-res">
                    <div>
                        <img src="assets/img/350x250x3.png" alt="images" class="img-fluid img-radius ">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 count-res no-pad-res">
                    <div class="">
                        <img src="assets/img/350x250x4.png" alt="images" class="img-fluid img-radius">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= Sponser End =============================================-->

<!--================================= Footer Start =============================================-->
<footer>
    <div class="footer-bg-clr bgimage-property" id="contact">
        <div class="container">
            <div class="row rowsafari foot-res-width">
                <div class="col-sm-6 col-sm-6 col-md-6 col-lg-4 res2-bot-pad res-bot-pad30">
                    <a href="#"><img src="assets/img/200x100.png" alt="images" class="img-radius marg-bot20 "></a>
                    <div class="res2-bot-pad30">
                        <p class="txt-whte-sub">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos.</p>
                        <div class="marg-top20">
                            <a class="icon-rght1" href="#"><img src="assets/img/32x32x4.png" alt="images" class="img-radius"></a>
                            <a class="icon-rght1" href="#"><img src="assets/img/32x32x5.png" alt="images" class="img-radius"></a>
                            <a href="#"><img src="assets/img/32x32x6.png" alt="images" class="img-radius"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 res-bot-pad30">
                    <h5 class="txt-whte">CONTACT US</h5>
                    <div class="ft-bg-color">
                        <div class="dis-tab marg-top20">
                            <div class="dis-tab-cell icon-width">
                                <i class="fa fa-map-marker footer-font-size" aria-hidden="true"></i>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br txt-whte-sub"> RC-77 Park Avenue,<br> Belgium Hollow<br> Florida-33410. </p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-bg-color marg-top20">
                        <div class="dis-tab ">
                            <div class="dis-tab-cell icon-width">
                                <i class="fa fa-phone footer-font-size" aria-hidden="true"></i>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space txt-whte-sub marg-bot5">+91 987-654-3210</p>
                                <p class="lt-space  txt-whte-sub">+91 987-654-3210</p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-bg-color marg-top20 res2-bot-pad30">
                        <div class="dis-tab ">
                            <div class="dis-tab-cell icon-width">
                                <i class="fa fa-envelope footer-font1-size" aria-hidden="true"></i>
                            </div>
                            <div class="dis-tab-cell-middle">
                                <p class="lt-space word-br txt-whte-sub marg-bot5"><a href="#">info@charity.com</a> </p>
                                <p class="lt-space  txt-whte-sub  word-br"><a href="#">demo@charity.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  col-lg-5">
                    <div class="sub-bor">
                        <h5 class="txt-whte">SUBCRIBE TO OUR NEWS LETTER</h5>
                        <p class="pad-top10 marg-bot20 txt-whte-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, purus ut auctor tincidunt.</p>
                        <div id="mc_embed_signup">
                            <div class="form-tops foot-res-cent">
                                <!--================= YOUR MAILCHIMP ACCOUNT URL HERE ====================-->

                                <form class="subscribe_form " method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="http://keenicon.us11.list-manage.com/subscribe/post?u=e479edaf1c9c3d2aa4e927ed8&amp;id=07753442c3" novalidate>
                                    <div class="row rowsafari subscribe-col">
                                        <!--================= EMAIL INPUT BOX HERE ====================-->
                                        <div class="pos-rela">
                                            <input type="email" name="EMAIL" placeholder="ENTER A EMAIL" class="input-box" id="mce-EMAIL"><button class="foot-position1 sub-bg" id="mc-embedded-subscribe" type="submit" value="SUBSCRIBE"><i class="fa fa-envelope sub-icon" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                    <!--================= SUCCESS AND FAILURE MESSAGE HERE =================-->

                                    <div class="center indicator-top" id="ResultMsg"><span id="SuccessMsg" class="email-success SuccessMsg"></span><span id="FailureMsg" class="email-failure FailureMsg"></span>
                                    </div>
                                    <div id="mce-responses">
                                        <div class="response response-msg" id="mce-error-response"></div>
                                        <div class="response response-msg" id="mce-success-response"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="ft-sub-color">
    <div class="container">
        <div class="text-center ">
            <p class="txt-whte lt-space">&copy; 2019 All Right Reserved &#124; <span class="design-font">Designed By</span> <a href="https://www.pennyblacktemplates.com" target="_blank">Pennyblack Templates</a></p>
        </div>
    </div>
</div>